<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<!-- Register Servlet with url patter mapping -->
	<servlet>
		<servlet-name>greet</servlet-name>
		<servlet-class>com.jm2070618.learn.servlet.GreetServlet</servlet-class>
		<init-param>
			<param-name>greetMsg</param-name>
			<param-value>Good Morning!!!</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>greet</servlet-name>
		<url-pattern>/greetMe</url-pattern>
	</servlet-mapping>
	
	<!-- Register JSP file with url patter mapping  -->
	<servlet>
		<servlet-name>impObj</servlet-name>
		<jsp-file>/implicit-objects.jsp</jsp-file>
		<init-param>
			<param-name>allImpObj</param-name>
			<param-value>request, response, config, application, pageContext, out, exception, page, session</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>impObj</servlet-name>
		<url-pattern>/impObj</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>institute</param-name>
		<param-value>My Institute</param-value>
	</context-param>

</web-app>